{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Ślub' %}</h1>
<div>
<p>{% trans 'Dokładny adres kościoła: ul. Garbary 22, 61-854 Poznań' %}</p>
<p>{% trans 'Parking na ulicy będzie darmowy (w soboty nie obowiązuje Strefa Płatnego Parkowania), jednak blisko kościoła nie ma zbyt dużo miejsc parkingowych. Zarezerwowaliśmy miejsca parkingowe na parkingu Za Bramką, niecałe 5 minut od kościoła (pierwsze pół godziny - bezpłatne, każda kolejna godzina - 3zł).' %}</p>
<p>{% trans 'Adres parkingu: Za Bramką 13, 61-854 Poznań' %}</p>
</div>
<h1>{% trans 'Wesele' %}</h1>
<div>
<p>{% trans 'Dokładny adres sali weselnej: Pałac Jaśminowy, ul. Zakrzewska 15, 62-080 Batorowo' %}</p>
<h5>{% trans 'Samochód' %}</h5>
<p>{% trans 'Na terenie pałacu znajduje się parking, także tam nie ma problemu.' %}</p>
<h5>{% trans 'Autobus' %}</h5>
<p>{% trans 'Wynajęliśmy autobus, który zawiezie gości spod kościoła na wesele, a po weselu przywiezie ich do centrum Poznania. Uwaga! Autobus odjedzie z ulicy Stawnej. Mamy już umówione osoby odpowiedzialne za poprowadzenie gości do autobusu. Powrót o godzinie 4. Autobus dojedzie na Rondo Kaponiera, a jeśli uda się dogadać z kierowcą busa, to może też zatrzyma się gdzieś jeszcze, np. na Rondzie Rataje.' %}</p>
<p>{% trans 'Chcemy, aby wszyscy na weselu się jak najlepiej bawili, dlatego mamy dobrą wiadomość dla kierowców nocujących w hotelu: autobus ma zaplanowany przejazd do hotelu na 3:30. Samochody zostawcie na parkingu przed pałacem, a rano ktoś będzie przyjeżdżał po kierowców :)' %}</p>
</div>
<h1>{% trans 'Hotel' %}</h1>
<div>
<p>{% trans 'Dla części gości zarezerwowaliśmy pokoje w Hotelu Przylesie na noc z 27 na 28 kwietnia. Hotel jest oddalony od pałacu o 5 minut drogi samochodem. Adres: ul. Bukowska 2a, 62-080 Sierosław.' %}</p>
<p>{% trans 'Goście mogą się meldować w hotelu od godziny 12. W niedzielę śniadanie będzie wydawane od 7 do 11, a doba hotelowa kończy się o 13. Poprawiny będą trwały od 13 do 19.' %}</p>
</div>
{% endblock %}

{% block js %}
<script>
$("#menu-commute").addClass("active");
</script>
{% endblock js %}
