{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Ślub' %}</h1>
<div>
<p>{% trans 'Dokładny adres kościoła: ul. Garbary 22, 61-854 Poznań' %}</p>
<p>{% trans 'Bezpośrednio przy kościele nie ma zbyt dużo miejsc parkingowych, dlatego wynajmiemy parking niedaleko kościoła. Więcej informacji znajdziecie na tej stronie bliżej daty ślubu.' %}</p>
</div>
<h1>{% trans 'Wesele' %}</h1>
<div>
<p>{% trans 'Dokładny adres sali weselnej: Pałac Jaśminowy, ul. Zakrzewska 15, 62-080 Batorowo' %}</p>
<h5>{% trans 'Samochód' %}</h5>
<p>{% trans 'Na terenie pałacu znajduje się parking, także tam nie ma problemu.' %}</p>
<h5>{% trans 'Autobus' %}</h5>
<p>{% trans 'Planujemy wynająć autobus, który zawiezie gości spod kościoła, a po weselu przywiezie ich do centrum. Prosimy zaznaczać w formularzu chęć skorzystania z tej opcji, żebyśmy wiedzieli jak duże jest zapotrzebowanie. Dokładny przejazd busa będziemy planować bliżej daty wesela, gdy będzie wiadomo, kogo gdzie można by podwieźć.' %}</p>
</div>
{% endblock %}

{% block js %}
<script>
$("#menu-commute").addClass("active");
</script>
{% endblock js %}
