{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="contact">
  <div class="row">
    <div class="col-md-6">
      <h2>{% trans 'Panna Młoda' %}</h2>
      Magda Lipowska<br>
      660 554 911<br>
      magda.z.lipowska@gmail.com
    </div>
    <div class="col-md-6">
      <h2>{% trans 'Pan Młody' %}</h2>
      Piotr Miara<br>
      664 985 285<br>
      piotr@atopik.pl
    </div>
  </div>
  <div class="row">
   {% trans 'Będziemy wdzięczni za potwierdzenie przybycia na przyjęcie weselne do 1 kwietnia 2019 roku.' %}
   {% trans 'W razie wszelkich wątpliwości, zgubienia loginu i hasła czy innych problemów, śmiało dzwońcie, a jeśli nie odbierzemy, to zostawcie wiadomość. Nie gryziemy :)' %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
$("#menu-contact").addClass("active");
</script>
{% endblock js %}
