{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
{% for guest_form in formset %}
  <li role="presentation" class="nav-item">
    <a href="#tab-{{ guest_form.initial.id }}" data-toggle="tab" aria-controls="tab-{{ guest_form.initial.id }}" role="tab" data-toggle="tab" class="nav-link">
      {{ guest_form.instance }}
    </a>
  </li>
{% endfor %}
</ul>
<div class="tab-content">
{% for guest_form in formset %}
  <div class="tab-pane" id="tab-{{ guest_form.initial.id }}">
    <form method="post" action="">
      {% csrf_token %}
      {{ guest_form.as_p }}
      <input type="submit" value="Zaloguj" />
    </form>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
  function add_similar_gifts(input_field, gifts) {
    var suggestions = input_field.next();
    console.log(gifts);
    suggestions.text(gifts);
  }

  var gift_input_fields = $("input[id^=id_form-][id$=gift]");
  gift_input_fields.after('<span class="suggestions"></span>');

  gift_input_fields.change(function () {
    var input_field = $(this);
    var gift = $(this).val();
    $.ajax({
      url: '/ajax/gift/',
      data: {
        'gift': gift
      },
      dataType: 'json',
      success: function (gifts) {
        add_similar_gifts(input_field, gifts);
      }
    });
  });
</script>

<script>
$("#menu-home").addClass("active");
</script>

<script>
$(".nav-tabs .nav-item a").first().addClass("active");
$(".tab-content div").first().addClass("active");
</script>

{% endblock js %}
