{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
{% for dict in formset.errors %}
    {% for error in dict.values %}
        {{ error }}
    {% endfor %}
{% endfor %}

  <ul class="nav nav-tabs" role="tablist">
  {% for guest_form in formset %}
    <li role="presentation" class="nav-item">
      <a href="#tab-{{ guest_form.initial.id }}" data-toggle="tab" aria-controls="tab-{{ guest_form.initial.id }}" role="tab" data-toggle="tab" class="nav-link">
        {{ guest_form.instance }}
      </a>
    </li>
  {% endfor %}
  </ul>

  <form method="post" action="">
  {% csrf_token %}
  {{ formset.management_form }}
    <div class="tab-content">
    {% for guest_form in formset %}
      <div class="tab-pane" id="tab-{{ guest_form.initial.id }}">
      {{ guest_form.as_p }}
      </div>
    {% endfor %}
    </div>
    {{ gift_form.as_p }}
    <button class="btn my-2 my-sm-0" type="submit">Potwierdź</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  function add_similar_gifts(input_field, gifts) {
    var suggestions = input_field.next();
    console.log(gifts);
    suggestions.text("Podobne prezenty: " + gifts);
  }

  var gift_input_fields = $("input[id^=id_form-][id$=gift]");
  gift_input_fields.after('<span class="suggestions"></span>');

  gift_input_fields.change(function () {
    var input_field = $(this);
    var gift = $(this).val();
    $.ajax({
      url: '/ajax/gift/',
      data: {
        'gift': gift
      },
      dataType: 'json',
      success: function (gifts) {
        add_similar_gifts(input_field, gifts);
      }
    });
  });
</script>

<script>
$("#menu-home").addClass("active");
</script>

<script>
$(".nav-tabs .nav-item a").first().addClass("active");
$(".tab-content div").first().addClass("active");
</script>

<script>
var helpimg = $('<img class="helpimg" src="{% static 'info-circle.png' %}"/>');
helpimg.insertBefore(".helptext");
$(".helptext").toggle();
$(".tab-content").on("click", ".helpimg", function() {
  $(this).next().toggle();
});
</script>

{% endblock js %}
