{% extends "base.html" %}

{% block content %}
{% for guest_form in formset %}
<h3>{{ guest_form.instance }}</h3>
<form method="post" action="">
  {% csrf_token %}
  {{ guest_form.as_p }}
  <input type="submit" value="Zaloguj" />
</form>
{% endfor %}
{% endblock %}

{% block js %}
<script>
  function add_similar_gifts(input_field, gifts) {
    var suggestions = input_field.next();
    console.log(gifts);
    suggestions.text(gifts);
  }

  var gift_input_fields = $("input[id^=id_form-][id$=gift]");
  gift_input_fields.after('<span class="suggestions"></span>');

  gift_input_fields.change(function () {
    var input_field = $(this);
    var gift = $(this).val();
    $.ajax({
      url: '/ajax/gift/',
      data: {
        'gift': gift
      },
      dataType: 'json',
      success: function (gifts) {
        add_similar_gifts(input_field, gifts);
      }
    });
  });
</script>

<script>
$("#menu-home").addClass("active");
</script>

{% endblock js %}
