{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
{% for dict in formset.errors %}
    {% for error in dict.values %}
        {{ error }}
    {% endfor %}
{% endfor %}

  <ul class="nav nav-tabs" role="tablist">
  {% for guest_form in formset %}
    <li role="presentation" class="nav-item">
      <a href="#tab-{{ guest_form.initial.id }}" data-toggle="tab" aria-controls="tab-{{ guest_form.initial.id }}" role="tab" data-toggle="tab" class="nav-link">
        {{ guest_form.instance }}
      </a>
    </li>
  {% endfor %}
    <li role="presentation" class="ml-auto nav-item" id="gifts-nav-tab">
      <a href="#tab-gifts" data-toggle="tab" aria-controls="tab-gifts" role="tab" data-toggle="tab" class="nav-link">
        Wybór prezentów
      </a>
    </li>
  </ul>

  <form method="post" action="">
  {% csrf_token %}
  {{ formset.management_form }}
    <div class="tab-content">
    {% for guest_form in formset %}
      <div class="tab-pane" id="tab-{{ guest_form.initial.id }}">
      {{ guest_form.as_my_p }}
      </div>
    {% endfor %}
      <div class="tab-pane" id="tab-gifts">
      {{ gift_form.as_p }}
      {% if gift_form.taken_gifts %}
        <h6>Zarezerwowane prezenty:</h6>
        {% for gift in gift_form.taken_gifts %}
        <p>{{ gift }}</p>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <button class="btn my-2 my-sm-0" type="submit">Potwierdź</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script>
$("#menu-rsvp").addClass("active");
</script>

<script>
$(".nav-tabs .nav-item a").first().addClass("active");
$(".tab-content div").first().addClass("active");
</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock js %}
