@import '_reset';

body {
}

#home-header h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 4em;
  text-align: center;
  margin-top: 60px;
}

.navbar {
  font-family: 'Berkshire Swash', cursive;
}

#heart {
  width: 100%;
}

#login_form {
  margin-top: 15px;
}

.container {
  margin-top: 60px;
}
