@import '_reset';

$info-circle-img: '../info-circle.png';

#home-header h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 4em;
  text-align: center;
  margin-top: 60px;
}

.navbar {
  font-family: 'Berkshire Swash', cursive;
}

#login_form {
  margin-top: 15px;
}

.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.helpimg {
  margin-left: 10px;
  margin-right: 10px;
  cursor: help;
  height: 1.2em;
}

.tab-content {
  padding: 30px;
}

.tab-pane textarea {
  width: 400px;
  height: 80px;
}

.tab-pane label {
  vertical-align: top;
  margin-right: 10px;
}

.suggestions {
  margin-left: 10px;
}

.img_column {
  padding: 0 !important;
}

.img_column img {
  width: 100%;
}
